Repository sui-tools/sui-move-language, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, parser, psi, highlighting, completion, build, ci, dependencies

chore: update repository URLs and copyright year, remove test files and docs
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  IMPLEMENTATION_STATUS_REPORT.md
  INSTALLATION.md
  LICENSE
  PRD.md
  PRD_COMPLIANCE_REPORT.md
  README.md
  SECURITY.md
  gradle.properties
  sample-test.move
  src/main/resources/META-INF/plugin.xml
  test-example.move
Labels: documentation, build

fix: exclude buildSearchableOptions from CI workflows to prevent build failures
  .github/workflows/ci.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/release.yml
Labels: ci

fix: add memory limits and exclude integration tests from CI workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility-test.yml
Labels: ci

fix: temporarily skip tests in CI to isolate build issues
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility-test.yml
Labels: ci

test: add simple workflow to verify GitHub Actions
  .github/workflows/test-actions.yml
Labels: ci

Re-enable tests in CI workflows with proper IntelliJ test configuration
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/release.yml
  .github/workflows/test-debug.yml
  build.gradle.kts
Labels: build, ci, dependencies

Add gradle-wrapper.jar to fix CI builds
  gradle/wrapper/gradle-wrapper.jar
Labels: build

fix: Change plugin ID to comply with JetBrains requirements
  src/main/resources/META-INF/plugin.xml
Labels: none

fix: Rename plugin to 'Sui Move IDE' for marketplace uniqueness
  README.md
  src/main/resources/META-INF/plugin.xml
Labels: documentation

fix: Rename plugin to 'Move Language for Sui' for uniqueness
  README.md
  src/main/resources/META-INF/plugin.xml
Labels: documentation

docs: Update README with JetBrains Marketplace plugin ID
  README.md
  gradle.properties
Labels: documentation, build

fix: Use non-deprecated TemplateContextType constructor
  src/main/kotlin/com/suimove/intellij/templates/MoveTemplateContextType.kt
Labels: none

chore: Bump version to 0.1.1
  CHANGELOG.md
  gradle.properties
Labels: documentation, build

fix: Update release workflow to use gh CLI
  .github/workflows/release.yml
Labels: ci

docs: Add comprehensive v2.0 planning documents
  .github/ISSUE_TEMPLATE/v2-feature.md
  CONTRIBUTING_v2.md
  ROADMAP_v2.md
  TODO_v2_technical.md
Labels: documentation

docs: Add comprehensive v2.0 architecture documentation
  ARCHITECTURE_v2.md
  docs/architecture-diagrams.md
Labels: documentation

Release v2.0.0 - Major release with complete rewrite
  CHANGELOG.md
  RELEASE_NOTES_v2.0.0.md
  V2_IMPLEMENTATION_STATUS_REPORT.md
Labels: documentation

chore: clean up v2.0 planning files and merge CONTRIBUTING docs
  ARCHITECTURE_v2.md
  CONTRIBUTING.md
  CONTRIBUTING_v2.md
  FINAL_SUMMARY_v2.md
  PROGRESS_REPORT_v2.md
  ROADMAP_v2.md
  TODO.md
  TODO_v2_technical.md
  V2_IMPLEMENTATION_STATUS_REPORT.md
Labels: documentation

docs: update README with v2.0 features
  README.md
Labels: documentation

Add comprehensive improvement analysis and v2.1 roadmap
  SECURITY_ANALYSIS_SPEC.md
  V2.1_ROADMAP.md
  V2_IMPROVEMENT_ANALYSIS.md
Labels: documentation

.github/labeler.yml:

# Add labels to PRs based on file changes

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '.github/**/*.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/test/**'
      - '**/test/**'
      - '**/*Test.kt'

parser:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/kotlin/com/suimove/intellij/parser/**'
      - 'src/main/kotlin/com/suimove/intellij/lexer/**'
      - 'src/main/grammars/**'

psi:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/kotlin/com/suimove/intellij/psi/**'

highlighting:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/kotlin/com/suimove/intellij/highlighting/**'
      - 'src/main/kotlin/com/suimove/intellij/annotator/**'

completion:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/kotlin/com/suimove/intellij/completion/**'

build:
  - changed-files:
    - any-glob-to-any-file:
      - 'build.gradle.kts'
      - 'gradle.properties'
      - 'settings.gradle.kts'
      - 'gradle/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'gradle/libs.versions.toml'
      - 'build.gradle.kts'
